* {
  box-sizing: border-box;
}
:root {
  --size: min(1vw, 0.5vh);
  --block: calc(var(--size) * 7);
}
body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

/* Players */
.players {
  display: flex;
  padding: var(--size) 0;
  width: 100%;
}

/* Player */
.player {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.player__score {
  margin-top: var(--size);
}

/* Avatar */
.avatar {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
}
.avatar__wrapper {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  max-width: calc(var(--size) * 15);
}
.avatar__image {
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  aspect-ratio: 1 / 1;
  left: 50%;
  translate: -50% 0;
}
.avatar__lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(var(--size) * 5);
  text-align: center;
  bottom: 0;
  right: 0;
  translate: 100% 0;
  padding-left: var(--size);
  animation: 2s linear both message;
}
@keyframes message {
  0% {
    translate: 100% 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    translate: 100% -200%;
    opacity: 0;
  }
}

/* Game */
.game {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.game__column {
  display: flex;
  flex-direction: column;
}

/* Well */
.well {
  width: calc(var(--block) * 10);
  height: calc(var(--block) * 20);
  background-color: #666;
  position: relative;
  overflow: hidden;
}
.well__cell {
  --color: white;
  width: var(--block);
  height: var(--block);
  background-color: var(--color);
  box-shadow: 0 0 var(--size) var(--color);
  position: absolute;
}

/* Next Block */
.next-block {
  width: calc(var(--block) * 4);
  height: calc(var(--block) * 4);
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Block */
.block {
  --color: white;
  position: relative;
}
.block--falling {
  position: absolute;
  left: 0;
  top: 0;
  transition: all linear 100ms;
}
.block__cell {
  width: var(--block);
  height: var(--block);
  background-color: var(--color);
  box-shadow: 0 0 var(--size) var(--color);
  position: absolute;
  top: 0;
  left: 0;
}
.block--I {
  top: calc(var(--block) * -1);
}

/* Controls */
.controls {
  position: absolute;
  inset: 0;
}
.controls__btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.controls__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
}
.controls__center {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 20%;
}
.controls__left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  width: 25%;
}
.controls__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  width: 25%;
}