/* latin-ext */
@font-face {
  font-family: "Mr Dafoe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/MrDafoe-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mr Dafoe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/MrDafoe-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("font/exo-vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("font/exo-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("font/exo-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --size: min(1vw, 0.5vh);
  --block: calc(var(--size) * 7);
  --backgroun-color: #0d0221;
  --box-color: #261447;
  --box-shadow: 0 0 calc(var(--size) * 2) #723cd5;
  --sun-size: calc(var(--size) * 40);
  --g: linear-gradient(to bottom, #000, #000);
  --labs-sys-color-sun-1: #fdb428;
  --labs-sys-color-sun-2: #f672ca;
  --labs-sys-color-sun-glow: #b9f;
  --labs-sys-color-star: #f6c0c0;
  --base-speed: 4s;
  --reflect-gradient: linear-gradient(
    #032d50 25%,
    #00a1ef 35%,
    white 50%,
    #20125f 50%,
    #8313e7 55%,
    #ff61af 75%
  );
  --line-color: #59c1fe;
  --control-bottom: var(--line-color);
  --control-center: #ffd319;
  --control-left: #ff2975;
  --control-right: #f222ff;
  --font-exo: "Exo", sans-serif;
  --font-dafoe: "Mr Dafoe", cursive;
  --factor: 1;
}
body,
html {
  padding: 0;
  margin: 0;
  background: var(--backgroun-color);
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  perspective: 700px;
}
p {
  margin-top: 0;
  font-family: var(--font-exo);
  font-size: calc(var(--size) * 5);
  font-weight: bold;
}

/* Background */
.background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    #0d0221 0%,
    #45125e 15%,
    #a22561 30%,
    #ff3864 37%,
    transparent 37%
  );
}
.background__stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80%;
  overflow: hidden;
  left: 0;
}
.background__star {
  position: absolute;
  background: var(--labs-sys-color-star);
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  transform: translate(var(--x), var(--y));
  box-shadow: 0 0 0.25rem var(--labs-sys-color-sun-glow);
}
.background__mountain {
  position: absolute;
  width: 100%;
  top: 37%;
}
.background__mountain div {
  background: linear-gradient(#090910 40%, #450547 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  z-index: 10;
}
.background__mountain div:nth-child(1) {
  width: 24vw;
  height: 6vw;
  max-height: 6vh;
  inset: auto auto 45% -5%;
}
.background__mountain div:nth-child(2) {
  width: 24vw;
  height: 8vw;
  max-height: 8vh;
  inset: auto auto 45% 5%;
}
.background__mountain div:nth-child(3) {
  width: 30vw;
  height: 10vw;
  max-height: 10vh;
  inset: auto auto 45% 15%;
}
.background__mountain div:nth-child(4) {
  width: 30vw;
  height: 18vw;
  max-height: 18vh;
  inset: auto auto 45% 30%;
}
.background__mountain div:nth-child(5) {
  width: 30vw;
  height: 26vw;
  max-height: 26vh;
  inset: auto 30% 45% auto;
}
.background__mountain div:nth-child(6) {
  width: 30vw;
  height: 10vw;
  max-height: 10vh;
  inset: auto 15% 45% auto;
  z-index: 9;
}
.background__mountain div:nth-child(7) {
  width: 24vw;
  height: 8vw;
  max-height: 8vh;
  inset: auto 5% 45% auto;
  z-index: 8;
}
.background__mountain div:nth-child(8) {
  width: 24vw;
  height: 6vw;
  max-height: 6vh;
  inset: auto -5% 45% auto;
  z-index: 7;
}
.background__gradient {
  position: absolute;
  width: 100%;
  top: 37%;
  height: 63%;
  background: linear-gradient(#450547 0%, transparent 80%);
}
.background__lines {
  position: fixed;
  width: 100vw;
  height: calc(var(--size) * 24);
  background: linear-gradient(
    rgba(89, 193, 254, 0.2) 20%,
    var(--line-color) 40%,
    var(--line-color) 60%,
    rgba(89, 193, 254, 0.2) 80%
  );
  background-size: 1px calc(var(--size) * 2);
  box-shadow: 0 0 1em rgba(89, 193, 254, 0.4);
  left: 0;
  top: 35%;
  z-index: 10;
}
.background__grid {
  background: linear-gradient(
      transparent 70%,
      rgba(46, 38, 255, 0.4) 77%,
      #7d41e6 80%,
      rgba(46, 38, 255, 0.4) 83%,
      transparent 90%
    ),
    linear-gradient(
      90deg,
      transparent 70%,
      rgba(46, 38, 255, 0.4) 77%,
      #7d41e6 80%,
      rgba(46, 38, 255, 0.4) 83%,
      transparent 90%
    );
  /* background: linear-gradient(
      transparent 70%,
      #7d41e6 74%,
      white 76%,
      white 84%,
      #7d41e6 86%,
      transparent 90%
    ),
    linear-gradient(
      90deg,
      transparent 70%,
      #7d41e6 74%,
      white 76%,
      white 84%,
      #7d41e6 86%,
      transparent 90%
    ); */
  background-size: 10px 10px;
  width: 100vw;
  height: 300vh;
  position: absolute;
  bottom: 0vh;
  transform: rotateX(75deg) translateZ(-90vh);
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 80%
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 80%);
  animation: 400ms linear infinite both move;
  /* filter: drop-shadow(0 0 1px #df7373); */
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10px;
  }
}

/* Sun */
.sun {
  position: fixed;
  top: calc(var(--size) * 40);
  left: 50%;
  width: var(--sun-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  translate: -50% -50%;
  filter: drop-shadow(0 0 4rem var(--labs-sys-color-sun-glow));
  overflow: hidden;
}
.sun__face {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.sun__front {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border-radius: inherit;
  background-image: linear-gradient(
    to bottom,
    var(--labs-sys-color-sun-1),
    var(--labs-sys-color-sun-2) 60%
  );
}
.sun__line {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc(var(--size) * 15));
  animation: sunset 5s linear infinite;
  animation-delay: 0s;
}
@keyframes sunset {
  0% {
    background: #6b3487;
    height: 0;
    transform: translateY(calc(var(--size) * 15));
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    background: #773789;
  }
  40% {
    background: #83398a;
  }
  60% {
    background: #8d3b8a;
  }
  80% {
    background: #983e8b;
  }
  100% {
    background: #a4418e;
    height: calc(var(--size) * 3);
    transform: translateY(calc(var(--size) * 40));
  }
}
.sun--play .sun__line {
  background: #372757;
  animation: sunset-game 5s linear infinite;
  animation-delay: 0s;
}
@keyframes sunset-game {
  0% {
    height: 0;
    transform: translateY(calc(var(--size) * 15));
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    height: calc(var(--size) * 3);
    transform: translateY(calc(var(--size) * 40));
  }
}
.sun__line:nth-child(3) {
  animation-delay: -1s;
}
.sun__line:nth-child(4) {
  animation-delay: -2s;
}
.sun__line:nth-child(5) {
  animation-delay: -3s;
}
.sun__line:nth-child(6) {
  animation-delay: -4s;
}

/* Players */
.players {
  display: flex;
  padding: var(--size) 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Player */
.player {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.player__score {
  margin-top: var(--size);
  font-size: calc(var(--size) * 6) !important;
}

/* Avatar */
.avatar {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
}
.avatar__wrapper {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  max-width: calc(var(--size) * 15);
}
.avatar__image {
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  aspect-ratio: 1 / 1;
  left: 50%;
  translate: -50% 0;
}
.avatar__lines {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(var(--size) * 10);
  text-align: center;
  bottom: 0;
  right: 0;
  translate: 100% 0;
  padding-left: var(--size);
  animation: 2s linear both message;
}
@keyframes message {
  0% {
    translate: 50% 100%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    translate: 50% -100%;
    opacity: 0;
  }
}

/* Start Screen */
.start-screen {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  height: 64%;
  padding: calc(var(--size) * 25) 0 calc(var(--size) * 10);
}
.start-screen__mode {
  position: relative;
}
.start-screen__score {
  position: absolute;
  top: 0;
  right: calc((100% - 100vw + (var(--size) * 20)) / 2);
  translate: 0 -100%;
}
.start-screen__players {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -10%;
  display: flex;
}
.start-screen__player {
  min-width: calc(var(--size) * 12);
  margin: 0 calc(var(--size) * -1);
  animation: 200ms ease-in both slide-down;
}
@keyframes slide-down {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
/* Tooltip */
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  translate: -50% -50%;
}
.tooltip__button {
  display: block;
  margin: 0;
  padding: 0;
  border: var(--size) solid white;
  background: transparent;
  width: calc(var(--size) * 10);
  height: calc(var(--size) * 10);
  border-radius: 100px;
  box-shadow:
    0 0 var(--size) #fff,
    inset 0 0 var(--size) #fff;
  text-shadow: 0 0 var(--size) #fff;
  position: relative;
  z-index: 1;
  tranform: translateZ(0);
  transition: scale 400ms ease;
  scale: 1;
}
.tooltip__button:hover {
  scale: 1.1;
}
.tooltip__content {
  position: absolute;
  max-width: calc(var(--size) * 65);
  width: max-content;
  background-color: var(--box-color);
  top: 50%;
  left: 50%;
  translate: 0 -100%;
  padding: calc(var(--size) * 2);
  transform-origin: bottom left;
  z-index: 2;
  tranform: translateZ(0);
  transition:
    scale 400ms ease,
    opacity 400ms ease;
  scale: 0;
  opacity: 0;
  border-radius: calc(var(--size) * 4) !important;
}
.tooltip__content p {
  margin: 0;
}
.tooltip__content--open {
  scale: 1;
  opacity: 1;
}

/* Title */
.title {
  position: absolute !important;
  top: 0%;
  font-family: var(--font-exo);
  font-size: calc(var(--size) * 16);
}
.title__sub-title {
  position: relative;
  z-index: 1;
  position: absolute;
  top: 0;
  left: calc(var(--size) * -2);
  translate: 0 -60%;
  rotate: -10deg;
}

/* Game */
.game {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.game__column {
  display: flex;
  flex-direction: column;
}
.game__garbages {
  width: var(--block);
  height: calc(var(--block) * 15);
  margin-top: var(--block);
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

/* Garbage */
.garbage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.garbage__item {
  width: var(--block);
  height: var(--block);
  background: red;
  scale: 0.7;
  animation: 2s linear infinite both shine;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
@keyframes shine {
  0% {
    background: #ffd319;
  }
  20% {
    background: #ff901f;
  }
  40% {
    background: #ff2975;
  }
  60% {
    background: #f222ff;
  }
  80% {
    background: #8c1eff;
  }
  100% {
    background: #ffd319;
  }
}

/* Well */
.well {
  width: calc(var(--block) * 10 * var(--factor));
  height: calc(var(--block) * 20 * var(--factor));
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

/* Next Block */
.next-block {
  width: calc(var(--block) * 4);
  height: calc(var(--block) * 4);
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Block */
.block {
  --color: white;
  position: relative;
}
.block--falling {
  position: absolute;
  left: 0;
  top: 0;
  transition: all linear 100ms;
  z-index: 1;
  transform: translateZ(0);
}
.block__cell {
  width: calc(var(--block) * var(--factor));
  height: calc(var(--block) * var(--factor));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateZ(0);
  transition: all linear 100ms;
}
.block__cell:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--color);
  filter: brightness(50%);
}
.block__cell:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border: calc(2px * var(--factor)) solid var(--color);
  box-shadow:
    0 0 var(--size) var(--color),
    inset 0 0 var(--size) var(--color);
}
.block__cell--gameOver {
  filter: grayscale(1);
}
.block--I {
  top: calc(var(--block) * -1);
}

/* Controls */
.controls {
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 400ms ease;
}
.controls--show {
  opacity: 0.1;
}
.controls__btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.controls__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
  background: var(--control-bottom);
}
.controls__center {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 20%;
  background: var(--control-center);
}
.controls__left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  width: 25%;
  background: var(--control-left);
}
.controls__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  width: 25%;
  background: var(--control-right);
}

/** Settings */
.settings__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: white;
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 101;
}
.settings__button svg {
  transition: 400ms rotate ease;
  rotate: 0deg;
}
.settings__button:hover svg {
  rotate: 180deg;
}
.settings {
  position: absolute;
  top: calc(var(--size) * -1);
  left: calc(var(--size) * -1);
  right: calc(var(--size) * -1);
  transition: translate 400ms ease;
  translate: 0 -100%;
  background-color: var(--box-color);
  border-bottom: var(--size) solid var(--line-color);
  box-shadow:
    0 0 var(--size) var(--line-color),
    inset 0 0 var(--size) var(--line-color);
  padding: calc(var(--size) * 5);
  z-index: 102;
}
.settings--open {
  translate: 0 0;
}
.settings__close {
  float: right;
  position: relative !important;
  left: calc(var(--size) * 1);
  padding: 0 !important;
  width: calc(var(--size) * 10);
  height: calc(var(--size) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings__flags {
  display: flex;
  justify-content: space-evenly;
}
.settings__flag {
  position: relative;
}
.settings__locale {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  transition:
    filter 400ms ease,
    opacity 400ms ease;
  filter: grayscale(0.5);
  opacity: 0.7;
}
.settings__locale--active {
  filter: grayscale(0);
  opacity: 1;
}
.settings__blur {
  position: absolute;
  filter: blur(3px);
  scale: 1.3;
}
.settings__controls {
  margin-top: calc(var(--size) * 3);
}

/* Switch */
.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch__label {
  margin: 0 calc(var(--size) * 2) 0 0;
}
.switch {
  display: block;
  border: solid var(--size) white;
  padding: var(--size);
  border-radius: 100px;
  cursor: pointer;
  width: calc(var(--size) * 12);
  transition: opacity 400ms ease;
  opacity: 0.7;
}
.switch__content {
  height: calc(var(--size) * 3);
  width: 40%;
  border-radius: 100px;
  background-color: white;
  transition:
    transform 400ms ease,
    opacity 400ms ease;
  transform: translateX(0);
  opacity: 0.7;
}
.switch__checkbox:checked + .switch {
  opacity: 1;
  box-shadow:
    0 0 var(--size) #fff,
    inset 0 0 var(--size) #fff;
}
.switch__checkbox:checked + .switch .switch__content {
  transform: translateX(150%);
  opacity: 1;
  box-shadow: 0 0 var(--size) #fff;
}

/* Help */
.help__button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 2%;
  right: 3%;
  z-index: 101;
  transform: translateZ(0);
  font-size: calc(var(--size) * 10) !important;
  transition: scale 200ms ease;
}
.help__image {
  position: absolute;
  bottom: calc(var(--size) * 8);
  left: 10%;
  width: 80%;
}
.help__controls {
  position: absolute;
  font-size: calc(var(--size) * 10) !important;
}
.help__controls--left {
  top: 44%;
  left: -10%;
  transform-origin: 0 50%;
  animation: controls--left 1.7s infinite alternate;
}
@keyframes controls--left {
  0%,
  18%,
  22%,
  26%,
  58%,
  62%,
  100% {
    text-shadow:
      0 0 0.05em #fff,
      0 0 0.2em var(--control-left),
      0 0 0.3em var(--control-left);
  }
  20%,
  24%,
  60% {
    text-shadow: none;
  }
}
.help__controls--center {
  top: 15%;
  left: 50%;
  translate: -50% 0;
  animation: controls--center 1.5s infinite alternate;
}
@keyframes controls--center {
  0%,
  50%,
  54%,
  58%,
  62%,
  100% {
    text-shadow:
      0 0 0.05em #fff,
      0 0 0.2em var(--control-center),
      0 0 0.3em var(--control-center);
  }
  52%,
  56%,
  60% {
    text-shadow: none;
  }
}
.help__controls--right {
  top: 66%;
  right: -8%;
  transform-origin: 100% 50%;
  animation: controls--right 2s infinite alternate;
}
@keyframes controls--right {
  0%,
  38%,
  42%,
  46%,
  58%,
  62%,
  100% {
    text-shadow:
      0 0 0.05em #fff,
      0 0 0.2em var(--control-right),
      0 0 0.3em var(--control-right);
  }
  40%,
  44%,
  60% {
    text-shadow: none;
  }
}
.help__controls--bottom {
  bottom: -2%;
  left: 28%;
  animation: controls--bottom 3s infinite alternate;
}
@keyframes controls--bottom {
  0%,
  19%,
  21%,
  23%,
  25%,
  59%,
  61%,
  100% {
    text-shadow:
      0 0 0.05em #fff,
      0 0 0.2em var(--control-bottom),
      0 0 0.3em var(--control-bottom);
  }
  20%,
  22%,
  24%,
  60% {
    text-shadow: none;
  }
}
.help__defs {
  width: 0;
  height: 0;
  opacity: 0;
}
.help__arrow {
  position: absolute;
}
.help__arrow--left {
  top: 43%;
  left: -12%;
  width: calc(var(--size) * 40);
  animation: arrow--left 1.7s infinite alternate;
}
@keyframes arrow--left {
  0%,
  18%,
  22%,
  26%,
  58%,
  62%,
  100% {
    filter: drop-shadow(0 0 0.05em #fff)
      drop-shadow(0 0 0.2em var(--control-left))
      drop-shadow(0 0 0.3em var(--control-left));
  }
  20%,
  24%,
  60% {
    filter: none;
  }
}
.help__arrow--center {
  top: 17%;
  left: 40%;
  width: calc(var(--size) * 40);
  animation: arrow--center 1.5s infinite alternate;
}
@keyframes arrow--center {
  0%,
  50%,
  54%,
  58%,
  62%,
  100% {
    filter: drop-shadow(0 0 0.05em #fff)
      drop-shadow(0 0 0.2em var(--control-center))
      drop-shadow(0 0 0.3em var(--control-center));
  }
  52%,
  56%,
  60% {
    filter: none;
  }
}
.help__arrow--right {
  top: 53%;
  right: -17%;
  width: calc(var(--size) * 40);
  animation: arrow--right 2s infinite alternate;
}
@keyframes arrow--right {
  0%,
  38%,
  42%,
  46%,
  58%,
  62%,
  100% {
    filter: drop-shadow(0 0 0.05em #fff)
      drop-shadow(0 0 0.2em var(--control-right))
      drop-shadow(0 0 0.3em var(--control-right));
  }
  40%,
  44%,
  60% {
    filter: none;
  }
}
.help__arrow--bottom {
  bottom: -7%;
  left: 0%;
  width: calc(var(--size) * 40);
  animation: arrow--bottom 3s infinite alternate;
}
@keyframes arrow--bottom {
  0%,
  19%,
  21%,
  23%,
  25%,
  59%,
  61%,
  100% {
    filter: drop-shadow(0 0 0.05em #fff)
      drop-shadow(0 0 0.2em var(--control-bottom))
      drop-shadow(0 0 0.3em var(--control-bottom));
  }
  20%,
  22%,
  24%,
  60% {
    filter: none;
  }
}

/* Spectator */
.spectator {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}
.spectator__title {
  margin: calc(var(--size) * 3) 0;
}
.spectator__screens {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.spectator__screen {
  display: flex;
  align-items: center;
}
.spectator__avatar {
  width: calc(var(--size) * 15);
  margin-right: calc(var(--size) * 5);
  position: relative;
  z-index: 1;
  transform: translateZ(0);
}
.spectator__screens--3,
.spectator__screens--4 {
  gap: calc(var(--size) * 5);
}
.spectator__screens--3 .spectator__avatar,
.spectator__screens--4 .spectator__avatar {
  width: calc(var(--size) * 10);
  margin-right: calc(var(--size) * 2);
}
.spectator__screens--5,
.spectator__screens--6 {
  gap: calc(var(--size) * 5);
}
.spectator__screens--5 .spectator__screen,
.spectator__screens--6 .spectator__screen {
  flex-direction: column;
  gap: calc(var(--size) * 5);
}
.spectator__screens--5 .spectator__avatar,
.spectator__screens--6 .spectator__avatar {
  width: calc(var(--size) * 10);
  margin-right: 0;
}

/* Icons */
.icon--gear {
  filter: drop-shadow(0 0 calc(var(--size) * 4) var(--labs-sys-color-sun-glow));
}

/* Helpers */
.hidden {
  display: none;
}
.box {
  background-color: var(--box-color);
  border-radius: calc(var(--size) * 10);
  border: var(--size) solid var(--line-color);
  box-shadow:
    0 0 var(--size) var(--line-color),
    inset 0 0 var(--size) var(--line-color);
}
.modale {
  position: absolute;
  z-index: 102;
  inset: 0;
  background-color: rgba(13, 2, 33, 0.5);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;
  transform: translateZ(0);
}
.modale__inside {
  margin: 10%;
  flex: 1;
  position: relative;
  translate: 100% 0;
  transition: translate 400ms ease;
  position: rlative;
  z-index: 1;
  transform: translateZ(0);
  padding: 0 calc(var(--size) * 8);
}
.modale__close {
  float: right;
  position: relative !important;
  top: calc(var(--size) * 3);
  left: calc(var(--size) * 5);
  padding: 0 !important;
  width: calc(var(--size) * 10);
  height: calc(var(--size) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modale--open {
  opacity: 1;
  pointer-events: auto;
}
.modale--open .modale__inside {
  translate: 0 0;
}
.button {
  padding: calc(var(--size) * 2) calc(var(--size) * 8);
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  border: none;
  border-radius: calc(var(--size) * 10);
  cursor: pointer;
  transition: all 400ms ease;
  text-transform: uppercase;
  box-shadow:
    0 0 10px rgba(255, 0, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
  -webkit-text-stroke: 0.1em rgba(0, 0, 0, 0.5);
  paint-order: stroke fill;
  z-index: 1;
  transform: translateZ(0);
}
.button:not(:disabled):hover {
  transform: translateZ(0) scale(1.05);
  box-shadow:
    0 0 15px rgba(255, 0, 255, 0.9),
    0 0 30px rgba(0, 255, 255, 0.9);
}
.button:disabled {
  filter: grayscale(0.8);
  opacity: 0.8;
}
.reflect {
  position: relative;
}
.reflect__front {
  position: absolute;
  inset: 0;
  background-image: var(--reflect-gradient);
  -webkit-text-stroke: 0.01em #94a0b9;
  paint-order: stroke fill;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.reflect__back {
  text-shadow:
    0 0 var(--size) #8ba2d0,
    0 0 calc(var(--size) * 4) black,
    0 0 calc(var(--size) * 10) #165ff3;
  -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
  height: 5em;
}
.text {
  color: #fff;
  font-family: var(--font-exo);
  font-size: calc(var(--size) * 6);
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
.neon {
  font-family: var(--font-dafoe);
  margin: 0;
  font-size: calc(var(--size) * 15);
  color: white;
  text-shadow:
    0 0 0.05em #fff,
    0 0 0.2em #fe05e1,
    0 0 0.3em #fe05e1;
  rotate: -10deg;
  transition: transform 400ms ease;
}
button.neon:not(:disabled):hover {
  transform: translateZ(0) scale(1.1);
}
